services:
  bringwhat:
    build: .
    container_name: bringwhat_pg
    ports:
      - "${PORT}:3000"
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: bringwhat
      POSTGRES_USER: bringwhat
      POSTGRES_PASSWORD: bringwhat
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
